/*  Apply a natural box layout model to all elements  */ 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {}
body {
	 font-size: 112.5%;
	 font-family: "adelle", serif;
	 font-weight: 400;
	 line-height: 1.5em;
}

article, header, nav, section {
    display: block;
}

a {
    text-decoration: none;
}

/*   Typography   */

h1 {
	 font-family: "adelle sans", sans-serif;
	 font-size: 2.78em;
	 line-height: 1.2em;
	 font-weight: 700;
	 font-style: normal;
	 width: 100%;
	 text-align: center;
}

p.intro {
	 font-family: "adelle", serif;
	 margin: 27px auto;
	 font-size: 1.333em;
	 border-top: 1px;
	 border-bottom: 1px;
	 padding: 30px;
	 text-align: center;
	 border-style: solid;
	 line-height: 1.5em;
	 font-weight: 400;
	 font-style: normal;
	 color: rgba(155, 155, 155, 1);
	 width: 91.311%;
}

p {
	 font-size: 1em;
	 line-height: 1.5em;
	 color: rgba(34, 34, 34, 1);
	 width: 100%;
	 margin: 0px 0px 1.5em 0px;
}

h2 {
	 font-size: 1.5em;
	 font-family: "adelle sans", sans-serif;
	 line-height: 1em;
	 font-weight: 400;
	 font-style: normal;
	 margin: 0px 0px 1em 0px;
}

p.pullquote {
	 border-style: solid;
	 color: rgba(155, 155, 155, 1);
	 font-family: "adelle";
	 font-weight: 400;
	 font-style: italic;
	 padding: 0px 0px 0px 20px;
	 border-color: rgba(18, 153, 232, 1);
	 border-width: 0px 0px 0px 5px;
	 width: 96.397%;
	 font-size: 1em;
	 line-height: 1.5em;
}

p.author {
	 text-align: center;
	 font-size: 13px;
	 letter-spacing: 2px;
	 margin-top: 27px;
}

h5 {
	 font-size: 0.778em;
	 margin: 20px 0px 10px 0px;
	 font-family: "adelle sans", sans-serif;
	 font-weight: 700;
	 font-style: normal;
	 color: rgba(155, 155, 155, 1);
	 text-transform: uppercase;
	 letter-spacing: 1px;
	 text-align: center;
	 width: 100.147%;
	 line-height: 1.5em;
}

span.dropcap {
	 float: left;
	 color: #333333;
	 font-size: 5.278em;
	 line-height: 0.632em;
	 padding-top: 12px;
	 padding-right: 12px;
	 padding-left: 3px;
	 font-family: "adelle";
	 font-weight: 700;
	 font-style: normal;
}

article ul {
	 margin: 0.556em 1.111em 1.5em 1.111em;
	 padding: 10px 20px;
	 font-size: 1em;
	 line-height: 1.6em;
}

article li {
	 font-size: 1em;
	 line-height: 1.6em;
}

img {
	 max-width: 100%;
	 width: 99.854%;
	 margin: 0px 0px 1.5em 0px;
}

a a {
	 color: inherit;
}

a {
	 color: rgba(25, 185, 255, 1);
}

div.left-head:before {
	 content: "";
	 display: table;
}

div.left-head:after {
	 content: "";
	 display: table;
	 clear: both;
}

div.left-head {
	 width: auto;
	 margin: 0;
}

h1.left-head-h1 {
	 float: left;
	 width: 40%;
	 margin-right: 10%;
	 font-size: 2.5em;
	 line-height: 1.2em;
}

div.pull-quote-p:before {
	 content: "";
	 display: table;
}

div.pull-quote-p:after {
	 content: "";
	 display: table;
	 clear: both;
}

div.pull-quote-p {
	 width: auto;
	 margin: 0;
}

/*   Layout Style   */

wrapper {
    margin: 0;
    padding: 0;
}

header.universal {
    width: 100%;
    background-color: #19B9FF;
    padding: 1.5em 0;
    height:4.44444448em;
}

.contain {
    max-width: 52.2222226em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
}

.site-title {
    float: left;
    font-family: adelle;
    font-weight: bold;
    font-size: 18px;
    display: inline;
}

.site-title a {
        color: #fff;
}

nav {
    float: right;
    margin-right:0;
    display: inline;
}

nav ui {
    list-style: none;
    float: right;
}

nav li {
    display: inline-block;
}

nav li a {
    font-family: "adelle sans", sans-serif;
    font-size: 16px;
    color: #fff;
    margin-left: 30px;
}

article {
	 margin: 5em auto;
	 max-width: 37.78em;
	 font-size: 1em;
	 line-height: 1.507em;
     padding: 0 1em;
}

footer.universal {
    width: 100%;
    background-color: #646464;
    height:4.44444448em;
    
}

.copyright {
    font-family: "adelle sans", sans-serif;
    color:#9b9b9b;
    float: left;
    display: inline;
    font-size: 14px;
}

img {
	 max-width: 100%;
	 width: 100%;
	 margin: 0px 0px 1.5em 0px;
}