$base-font: "ff-tisa-web-pro", georgia, serif;
$header: "freight-sans-pro", "Helvetica", Arial, sans-seif;
$code: "source-code-pro", monospace, "freight-sans-pro", Courier New, Serif;

$base-font-size: 112.5%;
$base-line-height: 1.5;