@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

$base-font: "ff-tisa-web-pro", georgia, "Nanum Myeongjo", serif;
$header: "freight-sans-pro", "Helvetica", "Nanum Gothic", Arial, sans-seif;
$code: "source-code-pro", monospace, "freight-sans-pro", Courier New, Serif;

$base-font-size: 112.5%;
$base-line-height: 1.5;