{% capture content %}

    {% for asset in assets %}
    {% if asset.meta.type == 'main' %}
    <div class="hero">
	     <div class="hero-inner">
		      <div class="hero-copy">
              {{ body }}
		      </div>
	     </div>
    </div>
    {% endif %}
    {% endfor %}

<section class="home">
<h5 class="s-title">Latest Work</h5>
{% for post in site.pages['work'].posts limit:5 %}
<article>
   <div class="inner-container">
   {% for asset in post.assets %}{% if asset.meta.type == 'hero' %}<img src="{{asset.url}}" alt="{{asset.meta.caption}}">{% endif %}{% endfor %}
   <h2><a href="{{post.url}}">{{post.title}}</a></h2>
   <p>{{post.body | truncatewords: 50}}</p>
       <span class="sm-link"><a href="{{post.url}}">View work</a></span>
    <hr>
   </div>
</article>
{% endfor %}
    
<h5 class="s-title">Latest Journal</h5>
{% for post in site.pages['journal'].posts limit:5 %}
<article>
    <div class="inner-container">
    {% for asset in posts.assets %}{% endfor %}
    <h2><a href="{{post.url}}">{{post.title}}</a></h2>
    <p>{{post.body | truncatewords: 50}}</p>
    <span class="sm-link"><a href="/journal">View Article</a></span>
    <hr>
    </div>
</article>
{% endfor %}
</section>

{% endcapture %}

{% include 'layouts/default' %}