{% capture content %}
    {% for asset in assets %}
    {% if asset.meta.type == 'main' %}
<section class="hero main" style="background-image: url({{asset.url}});">
    {% endif %}
    {% endfor %}
<div id="iam">
{{ body }}
</div>
</section>

<section class="contain">
<h1 class="section-title">Latest Work</h1>
{% for post in site.pages['work'].posts limit:5 %}
<article>
   {% for asset in post.assets %}{% if asset.meta.type == 'hero' %}<img src="{{asset.url}}" alt="{{asset.meta.caption}}">{% endif %}{% endfor %}
   <h2><a href="{{post.url}}">{{post.title}}</a></h2>
   {{post.body | truncatewords: 50}}
   <p class="view"><a href="{{post.url}}">View work</a>
</article>
{% endfor %}
<hr>
<h1 class="section-title">Latest Journal</h1>
{% for post in site.pages['journal'].posts limit:5 %}
<article>
    {% for asset in posts.assets %}{% endfor %}
    <h2><a href="{{post.url}}">{{post.title}}</a></h2>
    <p>{{post.meta.excerpt}}</p>
    <p class="view"><a href="{{post.url}}">View Article</a></p>
</article>
{% endfor %}
</section>

{% endcapture %}

{% include 'layouts/default' %}