{% capture content %}
{% for post in posts limit:5 %}
{% for asset in post.assets %}
{% if asset.meta.type == 'hero' %}
<div class="fbanner fullwidth" style="background-image: url({{asset.url}}); background-size: cover; background-position: center;"><p>{{asset.meta.caption}}</p></div>
{% endif %}
{% endfor %}
<article>
  <h2><a href="{{post.url}}">{{post.title}}</a></h2>
    {{post.body | truncatewords: 50}}
  <p class="view"><a href="{{post.url}}">View work</a>
</article>
{% endfor %}
{% endcapture %}

{% include 'layouts/default' %}