<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="{{ site.meta.description }}">
  <meta name="keywords" content="{{ site.meta.keywords }}">
  <meta property="twitter:account_id" content="{{ site.meta.twitter }}">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
    
  <!-- // CSS Reset – http://meyerweb.com/eric/tools/css/reset/ -->
  <link rel="stylesheet" type="text/css" href="/styles/reset.css" media="all">
  <link rel="stylesheet" type="text/css" href="/styles/style.css" media="all">

  {% include 'includes/typekit' %}

</head>
    
<body>
      <header role="banner" class="universal" role="banner" style="background-color: {{ meta.color | fallback: '#19B9FF' }};">
           <div class="wrapper">
           <div class="contain">
             <div class="site-title"><a href="/">{{site.title}}</a></div>
      
              <nav class="universal" id="menu">
                  <ul>
                  {% for page in site.pages %}  
                    {% unless page.url == "/" %}
                  <li><a href="{{page.url}}"{% if page.url == url %} class="selected"{% endif %}>{{page.title}}</a></li>
                    {% endunless %}
                  {% endfor %}
                  </ul>
               </nav>
            </div>
         </div>
        </header>
        
        <main class="main-content">
           <div class="wrapper">
               {{ content }}
            </div>
        </main>
     
        <footer class="universal">
            <div class="contain"><p class="copyright">&copy; {{ site.date | date: '%Y' }} Kristian Kim. All Rights Reserved</p>
            <p class="status"><span class="pre">My current status </span>[happy]</p></div>
        </footer>
    
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.fs.naver.js"></script>
    <script>
    $("nav").naver({
	maxWidth: "480px"
    });
    </script>
    
</body>
    
</html>