<!doctype html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf-8">
  <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="{{ site.meta.description }}">
  <meta name="keywords" content="{{ site.meta.keywords }}">
  <meta property="twitter:account_id" content="{{ site.meta.twitter }}">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />
  <link rel="stylesheet" type="text/css" href="/css/style.css" media="all">
  <style>
    ::selection { background-color: {{meta.color | fallback: '#19B9FF'}}; color: #fff;}
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  {% include 'includes/analytics' %}
  {% include 'includes/typekit' %}
</head>

<body>
    <!-- Navigation : Global -->
    <header role="banner" class="navigation" role="banner" style="background-color: {{ meta.color | fallback: '#19B9FF' }};">
        <div class="navigation-wrapper">
             <div class="logo"><a href="/">{{site.title}}</a></div>
             <!-- Mobile view -->
              <a href="" class="navigation-menu-button" id="js-mobile-menu">menu</a>
              <nav class="nav">
                  <ul id="navigation-menu">
                  {% for page in site.pages %}  
                    {% unless page.url == "/" %}
                  <li class="nav-link"><a href="{{page.url}}"{% if page.url == url %} class="selected"{% endif %}>{{page.title}}</a></li>
                    {% endunless %}
                  {% endfor %}
                  <li class="nav-link"><a href="http://kristian.vsco.co">Photos</a></li>
                  </ul>
               </nav>
         </div>
    </header>
    <!-- // End Navigation -->
    
    {{ content }}
    

<footer class="footer">
    <div class="footer-inner">
        <div class="footer-lt">
            <p>&copy; {{ site.date | date: '%Y' }} Kristian Kim.</p>
        </div>
                {% for asset in site.pages['home'].assets %}
                {% if asset.meta.type == 'email' %}
            <div class="footer-rt">
                <div class="contact">
                <p><span class="pre">Say hello! </span><a href="mailto:{{ site.meta.email }}"><img src="{{ asset.url }}" alt="{{ asset.caption }}"></a></p>
                </div>
                {% endif %}
                {% endfor %}
            </div>
    </div>
</footer>

<script>
$(document).ready(function() {
  $('#navigation-menu').removeClass("show");

  $('#js-mobile-menu').on('click', function(e) {
    e.preventDefault();
    $('#navigation-menu').slideToggle(function(){
      if($('#navigation-menu').is(':hidden')) {
        $('#navigation-menu').removeAttr('style');
      }
    });
  });
});
</script>
{% include 'includes/fitvids' %}
</body>
</html>
